* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  background: -webkit-gradient(linear, left top, right bottom, from(#517fd67d), to(#2b3f653b)) 100% no-repeat;
  background: linear-gradient(to bottom right, #517fd67d 0%, #2b3f653b 100%) 100% no-repeat;
  height: 100%;
  height: 150vh;
}

main {
  width: 100%;
}

main .header-top {
  background-color: #2B3F65;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .header-top h1 {
  color: #EBEBEB;
  font-size: 23px;
  margin-left: 20px;
}

.main-calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.selecting-a-calculator {
  margin: 30px 5px 30px 5px;
  background-color: white;
  padding: 25px;
  z-index: 5;
  border-radius: 5px;
}

.selecting-a-calculator .select-calculator {
  list-style-type: none;
}

.selecting-a-calculator .select-calculator h2 {
  font-size: 25px;
  color: #476282;
  margin-bottom: 10px;
}

.selecting-a-calculator .select-calculator .select-container label {
  cursor: pointer;
  font-size: 20px;
  color: #476282;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0px 5px 0px;
}

.selecting-a-calculator .select-calculator .select-container label:hover {
  color: #2f73c7;
}

@media (max-width: 475px) {
  .selecting-a-calculator .select-calculator .select-container label {
    font-size: 16px;
  }
}

.selecting-a-calculator .select-calculator .input-calculator-selection {
  width: 20px;
  margin: 0px 6px 0px 0px;
  height: 20px;
}

.calculator {
  margin: 0px 5px 30px 5px;
  padding: 15px;
  max-width: 600px;
  background-color: white;
  border-top-left-radius: 61px;
  border-top-right-radius: 61px;
  border-top-right-radius: 63px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
}

.calculator .calculator-content {
  margin-top: 10px;
}

.calculator-title h2 {
  color: #476282;
  border-left: 4px solid #2B3F65;
  padding-left: 5px;
  margin-bottom: 5px;
}

.calculator-title p {
  color: #7592B4;
}

.calculator-top h3 {
  margin-top: 5px;
  color: #476282;
}

.calculator-top .unit-of {
  margin-top: 5px;
  background-color: #F8F8F8;
  border: none;
  color: #636363;
  width: 100%;
  padding: 10px 0px 10px 10px;
  font-size: 16px;
  text-align: center;
}

.sep {
  height: 1px;
  width: 100%;
  margin: 15px 0px 15px 0px;
  background-color: #476282;
}

.calculator-container {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calculator-container .calculator-input {
  width: 100%;
  background-color: #F8F8F8;
  border: none;
  padding: 10px 0px 10px 10px;
  font-size: 16px;
  text-align: center;
  color: #636363;
  min-width: 42px;
}

.calculator-container .calculator-input-type {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
  border-left: 1px solid #476282;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculator-container .calculator-input-type p {
  color: #476282;
}

.fuel-type-avg-fuel-consumption {
  color: #476282;
  border-left: 1px solid #476282;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fuel-type-avg-fuel-consumption p {
  text-align: center;
  margin: 0px 10px 0px 10px;
  color: #476282;
  padding: 10px 0px 10px 0px;
}

.average-fuel-consumption {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.average-fuel-consumption p {
  margin: 0px 10px 0px 10px;
  color: #476282;
  padding: 10px 0px 10px 0px;
}

.average-fuel-consumption .avg-fuel-style .type-of-distance-unit {
  color: #476282;
  border-left: 1px solid #476282;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator-supplement {
  padding: 5px 0px 5px 0px;
  border-top: 1px solid #4762827a;
}

.calculator-supplement h3 {
  color: #476282;
  font-size: 17px;
  margin-bottom: 4px;
}

.calculator-supplement .calculator-supplement-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator-supplement .calculator-supplement-container .fa-times-circle {
  color: #dd2727;
}

.calculator-supplement .calculator-supplement-container .fa-check-circle {
  color: #00ac17;
}

.calculator-supplement .calculator-supplement-container p {
  margin-right: 5px;
  color: #476282;
}

.calculator-result {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #4762827a;
}

.calculator-result .calculator-result-style {
  color: #476282;
  margin: 2px 0px 2px 0px;
}
/*# sourceMappingURL=style.css.map */