* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
}

body {
    background-color: #f9f9f9;
    height: 100%;
}

main {
    width: 100%;
}

.main-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.selecting-a-calculator {
    margin: 10px 5px 10px 5px;
    z-index: 5;
    border-radius: 5px;
    .select-calculator {
        list-style-type: none;
        .select-container {
            margin: 5px;
            border: 1px solid #4762820d;
            border-radius: 5px;
            background-color: white;
            label {
                cursor: pointer;
                font-size: 20px;
                color: #476282;
                display: flex;
                padding: 15px;
                align-items: center;
                width: 310px;
            }
            label:hover {
                color: #2f73c7;
            }
            @media (max-width: 475px) {
                label {
                    font-size: 16px;
                }
            }
        }
        .input-calculator-selection{
            width: 20px;
            margin: 0px 6px 0px 0px;
            height: 20px;
        }
    }
}

.calculator {
    margin: 0px 5px 30px 5px;
    padding: 15px;
    max-width: 600px;
    background-color: white;
    border-top-left-radius: 61px;
    border-top-right-radius: 61px;
    border-top-right-radius: 63px;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 0px #ececec;
    .calculator-content {
        margin-top: 10px;
    }
}

.calculator-title {
    h2 {
        color: #476282; 
        border-left: 4px solid #2B3F65;
        padding-left: 5px;
        margin-bottom: 5px;
     }
     p {
         color: #7592B4;
     }
}

.calculator-top {
    h3 {
        margin-top: 5px;
        color: #476282;
    }
    .unit-of {
        margin-top: 5px;
        border: 1px solid #eaeaea;
        color: #636363;
        width: 100%;
        padding: 10px 0px 10px 10px;
        font-size: 16px;
        text-align: center;
    }
}

.sep {
    height: 1px;
    width: 100%;
    margin: 15px 0px 15px 0px;
    background-color: #476282;
}

.calculator-container {
    margin-bottom: 10px;
    display: flex;
    .calculator-input {
        width: 100%;
        border: none;
        padding: 10px 0px 10px 10px;
        font-size: 16px;
        text-align: center;
        color: #636363;
        border: 1px solid #eaeaea;
        min-width: 42px;
    }
    .calculator-input-type {
        text-align: center;
        display: flex;
        align-items: center;
        background-color: #F8F8F8;
        border: 1px solid #F8F8F8;
        width: 100%;
        justify-content: center;
        p {
            color: #476282;
        }
    }
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.fuel-type-avg-fuel-consumption {
    color: #476282;
    background-color: #F8F8F8;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    p {
        text-align: center;
        margin: 0px 10px 0px 10px;
        color: #476282;
        padding: 10px 0px 10px 0px;
    }
}

.average-fuel-consumption {
    width: 100%;
    display: flex;
    align-items: center;
    p {
        margin: 0px 10px 0px 10px;
        color: #476282;
        padding: 10px 0px 10px 0px;
    }
    .avg-fuel-style {
        .type-of-distance-unit {
            color: #476282;
            background-color: #F8F8F8;
            display: flex;
            align-items: center;
            border: 1px solid #F8F8F8;
        }
    }
}

.calculator-supplement {
    padding: 5px 0px 5px 0px;
    border-top: 1px solid #4762827a;
    h3 {
        color: #476282;
        font-size: 17px;
        margin-bottom: 4px;
    }
    .calculator-supplement-container {
        display: flex;
        align-items: center;
        .fa-times-circle {
            color: rgb(221, 39, 39);
        }
        .fa-check-circle {
            color: rgb(0, 172, 23);
        }
        p {
            margin-right: 5px;
            color: #476282;
        }
    }
}

.calculator-result {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #4762827a;
    .calculator-result-style {
        color: #476282;
        margin: 2px 0px 2px 0px;
    }
}