* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
}

body {
    background-color: #EFEFEF;
}

header {
    margin-left: 270px;
    .header {
        margin-left: -270px;
        z-index: 2;
        width: 270px;
        height: 100vh;
        background-color: #19253D;
        border-bottom-right-radius: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        box-shadow: 0px 0px 25px 0px rgba(51, 51, 51, 0.75);
        nav {
            ul {
                list-style-type: none;
                text-align: left;
                li {
                    width: 270px;
                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 22px;
                        display: inline-block;
                        width: 100%;
                        padding: 10px 0px 10px 0px;
                        text-align: center;
                        
                    }
                    a:hover {
                        background-color: #ffffff1e;
                    }
                }
            }
        }
    }
}

main {
    width: 100%;
    height: 4000px;
    .header-top {
        background-color: #2B3F65;
        height: 70px;
        display: flex;
        align-items: center;
        width: 100%;
        h1 {
            color: #EBEBEB;
            font-size: 23px;
            margin-left: 20px;
        }
    }
}

.main-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.selecting-a-calculator {
    margin: 30px;
    .select-calculator {
        list-style-type: none;
        h2 {
            font-size: 25px;
            color: #476282;
            margin-bottom: 10px;
        }
        .select-container {
            label {
                cursor: pointer;
                font-size: 20px;
                color: #476282;
                display: flex;
                align-items: center;
                margin: 5px 0px 5px 0px;
                width: max-content;
            }
            label:hover {
                color: #2f73c7;
            }
        }
        .input-calculator-selection{
            width: 20px;
            margin: 0px 6px 0px 0px;
            height: 20px;
        }
    }
}

.calculator {
    margin: 20px 20px 20px 30px;
    padding: 15px;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    .calculator-content {
        margin-top: 10px;
    }
}

.calculator-title {
    h2 {
        color: #476282; 
        border-left: 4px solid #2B3F65;
        padding-left: 5px;
        margin-bottom: 5px;
     }
     p {
         color: #7592B4;
     }
}

.calculator-top {
    h3 {
        margin-top: 5px;
        color: #476282;
    }
    .unit-of {
        margin-top: 5px;
        background-color: #F8F8F8;
        border: none;
        color: #636363;
        width: 100%;
        padding: 10px 0px 10px 10px;
        font-size: 16px;
        text-align: center;
    }
}

.sep {
    height: 1px;
    width: 100%;
    margin: 15px 0px 15px 0px;
    background-color: #476282;
}

.calculator-container {
    margin-bottom: 10px;
    display: flex;
    .calculator-input {
        width: 100%;
        background-color: #F8F8F8;
        border: none;
        padding: 10px 0px 10px 10px;
        font-size: 16px;
        text-align: center;
        color: #636363;
    }
    .calculator-input-type {
        display: flex;
        align-items: center;
        background-color: #F8F8F8;
        border-left: 1px solid #476282;
        width: 100%;
        justify-content: center;
        p {
            color: #476282;
        }
    }
}

.fuel-type-avg-fuel-consumption {
    color: #476282;
    border-left: 1px solid #476282;
    background-color: #F8F8F8;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    p {
        text-align: center;
        margin: 0px 10px 0px 10px;
        color: #476282;
        padding: 10px 0px 10px 0px;
    }
}

.average-fuel-consumption {
    width: 100%;
    display: flex;
    align-items: center;
    p {
        margin: 0px 10px 0px 10px;
        color: #476282;
        padding: 10px 0px 10px 0px;
    }
    .avg-fuel-style {
        .type-of-distance-unit {
            color: #476282;
            border-left: 1px solid #476282;
            background-color: #F8F8F8;
            display: flex;
            align-items: center;
        }
    }
}

.calculator-supplement {
    padding: 5px 0px 5px 0px;
    border-top: 1px solid #4762827a;
    h3 {
        color: #476282;
        font-size: 17px;
        margin-bottom: 4px;
    }
    .calculator-supplement-container {
        display: flex;
        align-items: center;
        .fa-times-circle {
            color: rgb(221, 39, 39);
        }
        .fa-check-circle {
            color: rgb(0, 172, 23);
        }
        p {
            margin-right: 5px;
            color: #476282;
        }
    }
}

.calculator-result {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #4762827a;
    .calculator-result-style {
        color: #476282;
        margin: 2px 0px 2px 0px;
    }
}